head
  title= title
  style.
    body {
      padding: 0;
      margin: 0;
    }

    html, body {
      height: 100%;
      width: 100%;
    }

    path {
      fill: #000;
      stroke: #f00;
    }

    #page {
      min-height: 100%;
    }

    #header {
      position: static;
      margin-bottom: 0;
    }

    #map_container {
      position: absolute;
      top: 40px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    #ui_overlay {
      position: absolute;
      left: 50px;
      bottom: 35px;
      width: 610px;
      max-height: 100%;
      padding: 0;
      overflow: auto;
      background: #fff;
    }

    #ui_container {
      padding: 10px;
    }


  link(rel='stylesheet' href='/static/css/lib/pure-min.css')
  link(rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css")
  link(rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css")

  script(src="//code.jquery.com/jquery-1.10.2.js")
  script(src="//code.jquery.com/ui/1.10.4/jquery-ui.js")

  script(src="/static/js/lib/d3.min.js")
  script(src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js")


