.header
  .home-menu.pure-menu.pure-menu-open.pure-menu-horizontal
    a.pure-menu-heading(href="/") Smartcrowd Cortex
    ul
      li
        a(href="/") Home
      li
        a(href="/viewer/phone") Devices list
      li
        a(href="/viewer/history") History
      li
        a(href="/viewer/latests") Latests

