doctype html
html
  include includes/head
    style.
      #timeslider {
        width: 250px;
        margin: auto;
      }

  body
    .page
      include includes/menu
      #map_container
      #ui_overlay
        #ui_container
          h2 Time
            span#timeslider_text 0
          #timeslider
  script(src="/static/js/history_map.js")
