doctype html
html
  include includes/head
    style.
      #container {
        margin: 50px;
      }
  body
    .page
      include includes/menu
      #container
        p
          Different views :
        ul
          li
            a(href='/viewer/phone') List of phones by Id
          li
            a(href='/viewer/history.hml') History viewer
          li
            a(href='/viewer/latests.html') Realtime latests viewer
        p
          Additional URLS :
        ul
          li
            a(href='/paths') /paths
          li
            a(href='/last_positions') /last_positions
