doctype html
html
  include includes/head
  body
    .page
      include includes/menu
      #map_container
      #ui_overlay
        #ui_container
          p
            b Phone ID :
            =phone_id
          p
            a(href='/phone/' + phone_id + '/geojson') Download GeoJSON
                                                    | for this device
          p
            a(href='/phone/' + phone_id + '/all') Download all data
                                                    | as JSON for this device

      //- Pass JSON objects to javascript
      //-script!= "locations = JSON.parse('" + JSON.stringify(locations) + "');"
      script!= "phone_id = '" + phone_id + "';"
      script(src="/static/js/phone_map.js")

