doctype html
html
  include includes/head
    style.
      #container {
        margin: 50px;
      }

      #phones tr:hover {
        background-color: #ffcccc;
      }

    script(type='text/javascript').
      $(function() {
        $('.staff_checkbox').on('click', function (event) {
          //console.log(event.target);
          var target = $(event.target);
          var phone_id = target.attr('phone_id');
          var checked = target.is(':checked');
          //console.log('clicked on ', phone_id, ', checked : ', checked);
          $.post("/setstaff/" + phone_id, { "staff": checked });
        });
      });

  body
    .page
      include includes/menu
      #container
        h1 Phones
        p
          span=items.length
          |  phones
        table(id="phones", class="pure-table")
          thead
            tr
              td phone id
              td staff
          - for (var i = 0; i < items.length; ++i)
            tr
              td
                a(href='/viewer/phone/' + items[i]['phone_id'])= items[i]['phone_id']
              td
                input(type='checkbox',
                      class='staff_checkbox',
                      checked=items[i]['staff'],
                      phone_id=items[i]['phone_id'])
